.login-container{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/login-bg.png');
}

.login-form{
    height: max-content;
    background-color: rgb(61, 28, 1);
    color: white;
    width: 25rem;
    padding: 2rem 2rem;
    border-radius: 15px;
}
.login-c{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.login-sub{
    background-color: white;
    color: black;
    margin: 1rem;
}

.login-sub:hover{
    background-color: azure;
    color: black;
}

.login-err{
    font-size: 1rem;
    text-align: center;
    color: red;
}