@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&display=swap');
.login-container{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/login-bg.png');
    overflow-x: hidden;
}

.login-form{
    height: max-content;
    background-color: #483725;
    color: white;
    width: 22rem;
    padding: 3rem 3rem;
    border-radius: 15px;
    position: relative;
    z-index: 2;
    border:2px solid #FCF5EB;
}
.quote{
    color:  rgb(61, 28, 1);
    font-family: 'Gentium Book Plus', serif;
    font-style: italic;
    text-align: center;
    margin-top: 3rem;
    font-size: 3.5rem;
    
}
.login-c{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.bottom-box{
    background-color: #FCF5EB;
    width: 100vw;
    height: 35vh;
    position:absolute;
    top:65vh;
    overflow: hidden;
}
.logo-b{
    width: 10rem;
    margin-right: 5rem;
    margin-bottom: 4rem;
}
.login-sub{
    background-color: white;
    color: black;
    margin: 1rem;
}

.login-sub:hover{
    background-color: azure;
    color: black;
}

.login-err{
    font-size: 1rem;
    text-align: center;
    color: rgb(202, 182, 138);
}