.home-container{
    display: flex;
    flex-direction: row;
}

.home-main{
width: calc(100vw - 15rem);
margin-left: 15rem;
background-color: #FCF5EB;
text-align: center;
}
.news-card{
    display: inline-block;
    background-color: #302414;
    padding: 2rem;
    width: 60%;

    margin: 2rem;
    border-radius: 10px;
    /* margin-left: %; */
    padding: 4rem 2rem;
}
.content-ar{
    color: #FCF5EB;
    font-style: italic;
    font-size: 1.2rem;
}
.news-img{
width: 20rem;
margin-bottom: 3rem;
border-radius: 20px;
}
.news-title{
    font-weight: bold;
    color: #FCF5EB;
    text-align: center;
    margin: 0.5rem;
    font-size: 1.4rem;
}

.search-box{
    text-align: center;
    padding: 1.5rem;
}

.search-inp{
    width: 50%;
    padding: 0.5rem 1rem;
    border: none;
    background-color: white;
    border-radius: 20px;
    background-color: #302414;
    color: #FCF5EB;

}

.news-imBox{
    text-align: center;
}

.likeBtn{
    font-size: 2rem;
    background: transparent;
    border: none;
    color: #FCF5EB;
}

.cards-btnC{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: -2rem;
    margin-top: 1rem;
}

.bMarked{
    font-size: 1rem;
    text-align: center;
}

.bMarked a{
    color: #302414;
    text-decoration: none;
}

.rm{
    text-align: center;
    font-size: 1.1rem;
    margin-top: 2rem;
}

.rm a{
    color: white;
    text-decoration: none;
}
.news-autor{
    color: white;
    text-align: center;
    font-size: 1.1rem;
}

.news-autor a{
    margin-left: 0.5rem;
    font-size: 1.2rem;
    margin-left: 50%;
    transform: translateX(-50%);
}
.sidenav{
    background-color: #92805fd8;
}
.logo-nav{
    width: 8rem;
    margin-left: 4rem;
    margin-bottom: 1rem;
}
.un{
    color:#302414;
    font-weight: 400;
    font-size: 2rem;
    margin-bottom:2rem;
}
.filters{
    margin-left:3rem;
    margin-top:2rem;
}